# Dependencies
node_modules/
.venv/
env/
venv/
ENV/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage

# Build outputs
dist/
build/
*.egg-info/

# Environment Variables
.env

# IDE / OS
.DS_Store
Thumbs.db
.vscode/
.idea/
